
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    min-width: 100%;
    height:100%;
    margin:0 auto;
}
.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper:before, .wrapper:after {
    content: " ";
    display: table;
}
.admin_container:before, .admin_container:after {
    display: table;
    line-height: 0;
    content: "";
}
/*.nav_list_a:after, .nav_list_a:before {
    content: " ";
    display: table;
}*/
.admin_header{
    height: 60px;
    line-height: 60px;
    position: relative;
    width: 100%;
    background: #27a9bc;

}
.admin_login {
    margin: 0 20px;
}

.ad-navbar {
    position: relative;
    border: 1px solid transparent;
    max-height: 100px;
    z-index: 1030;
}
.ad-navbar-default {
    background-color: #27a9bc;
    border-color: #e7e7e7;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #1b4061;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #27a9bc;
    border-color: #337ab7;
}
/*.admin_container{
    position: relative;
    padding: 0;
    float: left;
    width: 190px;
}*/
.admin_menu {
   
    /*position: relative;
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;*/
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;

   /* position: absolute;
    top: 0;
    bottom: 0;
    background: #fffff0;
    /*border-right:1px solid #ccc;*/
}
/*.admin_menu:before {
    border-width: 0 1px 0 0;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 190px;
    background-color: #f1f6fc;
    border-right: 1px solid #ccc;
    content: "";
}*/

 .ad-nav {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.menu-ul{
    background: #2c3b41;
}
.menu-ul>li {
    margin: 0;
}
.menu-ul>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
}
ul.nav_list>li>a>.span-fa{
    margin-left: 25px
}
ul.nav_list>li>a{
    text-decoration:none;
}

/*ul.nav_list>li>a>.span-fa>.fa{
    width: 30px;
}*/
ul.nav_list>li{ 
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    margin: 0;
    padding: 0;
}
ul.nav_list>li>a{
    position: relative;
    border-left: 3px solid transparent;
    color: #5b696f;
    padding: 12px 5px 12px 15px;
    display: block;
   /* display: block;*/
    /*height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #757070;*/
}

/*ul.nav_list>li>a>i {
    display: inline;
    min-width: 30px;
    text-align: center;
    line-height: inherit;
    float: left;
    position: absolute;
    left: 10px;
    top: 50%;
}*/
ul.nav_list li>a>.pull-left-container {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -13px;
}
ul.nav_list li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}
/*ul.nav_list>li>a>b{
    position: absolute;
    margin-left: 50px;
    line-height: inherit;
}*/
ul.nav_list li{
    list-style: none;
}
.menu-item {
    width: 100%;
    background: #fff;
    line-height: 30px;  
}
.menu-item:hover {
    background-color: #eee;
}
.menu-item a {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding: 0 20px 0 60px;
}
.menu-item a:hover {
    color: #FF9000;
}
.nav_list_div{
    background-color: #eee;
}
.menu-item-two{
    border-bottom: 1px solid #ccc;
}

/*content-wrapper*/
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}
.content-wrapper, .right-side, .main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}
/*arrow*/
.arrow{
  float: right;
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 32px;
  background: url(../img/down.png) no-repeat center;
}
.arrow-up{
  background: url(../img/up.png) no-repeat center;
}

.bread {
    /*position: relative;*/
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    min-height: 41px;
    line-height: 40px;
    padding: 0 12px 0 0;
    display: block;
    /*margin-bottom: 40px;*/
    width: 100%;

}
.bread-ul{
    background-color: transparent;
    display: inline-block;
    line-height: 24px;
    margin: 0 22px 0 12px;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
}
.nav-search {
    position: absolute;
    top: 66px;
    right: 22px;
    line-height: 24px;
}
.bread-ul>li, .bread-ul>li.active {
    color: #555;
}
.bread-ul>li {
    display: inline-block;
}
.bread-ul .home-icon {
    margin-left: 4px;
    margin-right: 2px;
    font-size: 20px;
    position: relative;
    top: 2px;
}
.bread-ul>li>a {
    display: inline-block;
    padding: 0 4px;
    color: #4c8fbd;
}

.bread-ul>li+li:before {
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #b2b6bf;
    margin-right: 2px;
    padding: 0 5px 0 2px;
    position: relative;
    top: 1px;
}
.bread-ul>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.nav-search .form-search {
    margin-bottom: 0;
}
span.input-icon {
    display: inline-block;
}

.input-icon {
    position: relative;
}
.nav-search .nav-search-input {
    border: 1px solid #6fb3e0;
    width: 152px;
    height: 28px!important;
    border-radius: 4px!important;
    font-size: 13px;
    color: #666!important;
    z-index: 11;
    -webkit-transition: width ease .15s;
    transition: width ease .15s;
}
.input-icon>input {
    padding-left: 24px;
    padding-right: 6px;
}

/*
＊＊
＊＊修改信息
*/
.info {
  
}
.info-form{
    width: 600px;
    float: left;
}
.clear{
    clear: both;
}

/*
＊＊
＊＊修改密码
*/
.ad-main{
    width: 600px;
    float: left;
}

/*bar.html*/

.content-bar
{
    margin: auto;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
}
